# Ignore Python bytecode files
*.pyc

# Ignore Python cache directories
__pycache__/

# Ignore SQLite database file
site.db

# Ignore virtual environment directories
venv/
.env/

# Ignore environment-specific settings
.vscode/

